/* sahifa fon rangi */

body{

font-family:Arial, sans-serif;

background:#f5f5f5;

padding:40px;

}



/* 2 ta card yonma-yon turadi */

.container{

display:flex;

gap:40px;

align-items:flex-start;

justify-content:center;

}



/* har bir blok */

.card{

background:white;

padding:25px;

border-radius:12px;

box-shadow:0 4px 12px rgba(0,0,0,0.08);

width:420px;

}



/* sarlavha */

h2{

margin-bottom:15px;

font-size:20px;

}



/* inputlar */

input{

width:100%;

padding:12px;

margin-top:10px;

border-radius:8px;

border:1px solid #dcdcdc;

font-size:14px;

}



/* buttonlar */

button{

width:100%;

margin-top:12px;

padding:12px;

border:none;

border-radius:8px;

background:#2f6fd6;

color:white;

font-size:15px;

cursor:pointer;

transition:0.2s;

}



button:hover{

background:#255ec0;

}



/* table */

table{

width:100%;

margin-top:15px;

border-collapse:collapse;

table-layout:fixed;

}



/* table header */

th{

background:#2f6fd6;

color:white;

padding:10px;

font-size:14px;

}



/* table body */

td{

padding:10px;

border:1px solid #e3e3e3;

font-size:14px;

text-align:center;

}



/* ustunlar sig‘ishi uchun */

th, td{

word-wrap:break-word;

}



/* eng yaxshi team */

.best{

background:#d4f5d2;

font-weight:bold;

}