body{

font-family:Arial;
background:#f2f2f2;
display:flex;
justify-content:center;
margin-top:60px;

}

.container{

background:white;
padding:30px;
width:400px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
text-align:center;

}

input{

width:100%;
padding:12px;
font-size:16px;
border-radius:6px;
border:2px solid #ddd;
margin-top:20px;

}

.result{

margin-top:20px;
padding:10px;
color:white;
border-radius:6px;
font-weight:bold;
display:inline-block;

}

.weak{

background:red;

}

.medium{

background:orange;

}

.strong{

background:green;

}